form {
    border: 2px solid white;
    padding: 1.5rem;
    border-radius: 15px;
    margin-top: 1rem;
    width: 28%;
}

input {
    padding: 0.5rem auto;
    margin: 0.5rem auto;
    border-radius: 10px;
    height: 1.4rem;
    width: 3rem;
}

textarea {
    padding: 0.5rem auto;
    margin: 0.5rem auto;
    border-radius: 10px;
    width: 100%;
}

label{
    font-size: 1.2rem;
}

button{
    font-size: 1.2rem;
    padding: 1rem;
    margin: 0.5rem auto;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: white;
    font-weight: bolder;
}