.form {
    border: 2px solid white;
    padding: 1.5rem;
    border-radius: 15px;
    margin-top: 1rem;
    width: 28%;
}

.input {
    padding: 0.5rem;
    margin: 0.5rem auto;
    border-radius: 10px;
    height: 2.5rem;
    width: 98%;
    /* width: 32rem; */
    color: black;
}

.textarea {
    padding: 0.5rem;
    margin: 0.5rem auto;
    border-radius: 10px;
    width: 98%;
    /* width: 32rem; */
    height: 5rem;
    color: black;
}

.label{
    font-size: 1.2rem;
}

.button{
    font-size: 1.2rem;
    padding: 1rem;
    margin: 0.5rem auto;
    border: 2px solid white;
    background-color: #171d32;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
}