/* hero text */
.hero-text{
    margin: auto;
}

.hero-text h1{
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    font-size: 3.5rem;
    margin-top: 1rem;
}

/* profile image animation */
.home-img{
    width: 45rem;
    height: 45rem;
    margin: auto;
    border-radius: 20%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;

    z-index: 2;
}

.background-image{
    width: 85%;
    position: absolute;
    animation: rotate 20s linear infinite;

    z-index: -1;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.profile-image{
    width: 40rem;
    height: 35rem;
    position: absolute;
    /* padding: 5rem; */
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;

    /* clip-path: circle(40%); */
    text-align: center;

    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
}

/* CSS for Typing Effect */
.typewriter {
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 9s steps(42, end) infinite alternate,
        blink 350ms steps(5) infinite alternate;
    border-right: 3.5px solid orange;
}

@keyframes typewriter {
    0% {
        width: 0%;
    }

    35% {
        width: 35%;
    }

    65% {
        width: 35%;
    }

    100% {
        width: 0%;
    }
}

@keyframes blink {
    from {
        border-color: orange;
    }

    to {
        border-color: transparent;
    }
}